<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

    <a class="navbar-brand navbar-toggler-left" href="/home">
      <img class="navbar-logo" src="./assets/usr-logo.jpg"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav ml-md-auto">
        <li class = "nav-item">
          <a class= "nav-link" href="" id = ""> Contact </a>
        </li>
        <li>
          <a class= "nav-link" [routerLink]="'/userProfile/'+shared.username"> My Profile </a>
        </li>
        <li>
          <a class= "nav-link" (click)="signOut()"> Sign Out </a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10"style="margin-bottom: 20px;margin-top: 20px;">
          <button type="button" class="btn btn-info" (click)="openAddModal('addModal')" data-toggle="modal" data-target="#addModal">
            <i class="fas fa-plus"></i> Topic
          </button>
         </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div>
            <ul class="nav nav-tabs">
              <!--<li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Today</a></li>-->
              <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-2">Latest </a></li>
              <!--<li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Popular</a></li>-->
              <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-4">All</a></li>
            </ul>
            <div class="tab-content">

              <div class="tab-pane active" role="tabpanel" id="tab-2">
                <ul class="thread-list">
                  <div *ngFor="let topic of latestTopics"  (click)="openTopic(topic)">
                    <li class="thread" >
                      <span class="time">{{topic.timestamp}}</span>
                      <span class="title">{{topic.topic_title}}</span>
                      <span class="icon">
                      <a href="javascript:void(0)" class="subscribe"><i class="fa fa-star-o"></i></a><a href="javascript:void(0)" class="flag"></a>
                    </span>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="tab-pane" role="tabpanel" id="tab-4">
                <ul class="thread-list">
                  <div *ngFor="let topic of allTopics"  (click)="openTopic(topic)">
                    <li class="thread" >
                      <span class="time">{{topic.timestamp}}</span>
                      <span class="title">{{topic.topic_title}}</span>
                      <span class="icon">
                      <a href="javascript:void(0)" class="subscribe"><i class="fa fa-star-o"></i></a><a href="javascript:void(0)" class="flag"></a>
                    </span>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="media" style="display: block !important;">
                <!--<div><input type="checkbox"></div>-->
                <div class="media-body" *ngFor="let comment of comments">
                  <div class="media" style="overflow:visible;display: block !important;  ">
                    <!--<div><img src="assets/img/user-photo.jpg" class="mr-3" style="width: 25px; height:25px;"></div>-->
                    <div class="media-body" style="overflow:visible;">
                      <div class="row" style="display: block;">
                        <div class="col-10">
                          <h5 *ngIf="comment.author_email != shared.username"><a [routerLink]="'/userProfile/'+comment.author_email"><strong>{{comment.author}}</strong></a></h5>
                          <h5 *ngIf="comment.author_email == shared.username"><a [routerLink]="'/userProfile/'+comment.author_email"><strong>You</strong></a></h5>
                          <p>{{comment.content}}<br>
                            <small class="text-muted">{{comment.timestamp}} </small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <a>Titlu:</a>
        <input type="text" id="modalAddNume" [(ngModel)]="nume" class="form-control validate numeAdd">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveTopic()">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
