<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

        <a class="navbar-brand navbar-toggler-left" href="/home">
          <img class="navbar-logo" src="./assets/usr-logo.jpg"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="navbar-nav ml-md-auto">
            <li class = "nav-item">
              <a class= "nav-link" href="" id = ""> Contact </a>
            </li>
            <li>
              <a class= "nav-link" [routerLink]="'/userProfile/'+shared.username"> My Profile </a>
            </li>

            <li>
            <a class= "nav-link" (click)="signOut()"> Sign Out </a>
          </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <div class="msg-wrap">
        <p class="thread-title">{{topicDetails?.topic_title}}</p>
        <div class="row msg" *ngFor="let comment of comments">
          <div class="col-md-3 author">
            <h5 class="media-heading" *ngIf="comment.author_email != shared.username">{{comment.author}} <small class="text-muted"> </small></h5>
            <h5 class="media-heading" *ngIf="comment.author_email == shared.username">You <small class="text-muted"> </small></h5>
            <small class="text-muted">
            <i class="fa fa-clock-o"></i> {{comment.timestamp}}</small>
          </div>
          <div class="col-md-9">
            {{comment.content}}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="send-wrap ">
        <form accept-charset="UTF-8" action="" method="POST" role="form" class="">
          <div class="form-group">
            <textarea class="form-control counted" rows="3" name="cont" [(ngModel)]="text" placeholder="Write a reply..."></textarea>
          </div>
          <div class="form-group">
            <h6 class="pull-right" id="counter">2500 characters remaining</h6>
            <button class="btn btn-info" type="submit" (click)="addComment()">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
