
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

        <a class="navbar-brand navbar-toggler-left" href="">
          <img class="navbar-logo" src="./assets/usr-logo.jpg"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="navbar-nav ml-md-auto">
            <li class = "nav-item">
              <a class= "nav-link" href="" id = ""> Contact </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        Uniunea Studenților din România
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="tabbable" id="tabs-961756">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#panel-878632" data-toggle="tab">Studenți</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#panel-52856" data-toggle="tab">Asociații</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel-878632">
            <table class="table table-bordered table-hover table-sm" >
              <thead>
              <tr>

                <th>
                  ID
                </th>
                <th>
                  Email
                </th>
                <th>
                  Nume
                </th>
                <th>
                  Prenume
                </th>
                <th>
                  Asociație
                </th>
                <th>
                  Federație
                </th>
                <th>
                  Facultate
                </th>
                <th>
                  Consiliu
                </th>
                <th>
                  Senat
                </th>
                <th>
                  Consiliu de Administrație
                </th>
                <th>
                  Edit
                </th>
                <th>
                  Delete
                </th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let stud of studenti">
                <td>
                  {{stud.id}}
                </td>
                <td>
                  {{stud.email}}
                </td>
                <td>
                  {{stud.nume}}
                </td>
                <td>
                  {{stud.prenume}}
                </td>
                <td>
                  {{stud.asociatie}}
                </td>
                <td>
                  {{stud.federatie}}
                </td>
                <td>
                  {{stud.id_facultate}}
                </td>
                <td class="text-center">
                  <i class="fas fa-check"></i>
                </td>
                <td class="text-center">
                  <i class="fas fa-check"></i>
                </td>
                <td class="text-center">
                  <i class="fas fa-check"></i>
                </td>
                <td class="text-center">
                  <!--<a class='btn btn-info btn-xs' onclick="openModal(stud)"><i class="fas fa-edit"></i> Edit</a>-->
                  <button type="button" class="btn btn-primary" (click)="openModal(stud)" data-toggle="modal" data-target="#editModal">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </td>
                <td class="text-center">
                  <a class='btn btn-danger btn-xs' href="#"><i class="fas fa-trash-alt"></i> Șterge</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="panel-52856">
            <table class="table table-bordered table-hover table-sm" >
              <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Denumire
                </th>
                <th>
                  Oraș
                </th>
                <th>
                  Jurisdicție
                </th>
                <th>
                  Edit
                </th>
                <th>
                  Delete
                </th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let asoc of asociatii">
                <td>
                  {{asoc.id}}
                </td>
                <td>
                  {{asoc.denumire}}
                </td>
                <td>
                  {{asoc.oras}}
                </td>
                <td>
                  {{asoc.jurisdictie}}
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-primary edit" data-toggle="modal" data-target="#editModal">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                    <i class="fas fa-trash-alt"></i> Șterge
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <a>Nume:</a>
        <input type="text" id="modalNume" class="form-control validate nume">
        <a>Prenume</a>
        <input type="text" id="modalPrenume" class="form-control validate prenume">
        <a> Asociație </a>
        <input type="text" id="modalAsociatie" class="form-control validate asociatie">
        <a> Federatie </a>
        <input type="text" id="modalFederatie" class="form-control validate federatie">
        <a> Facultate </a>
        <input type="text" id="modalFacultate" class="form-control validate facultate">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ești sigur că vrei să ștergi?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
